*{
    margin:0;
    padding:0;
}

body{
    font-family: "Poppins", sans-serif;
}

.navbar{
    background-color: #fd6569;
    padding: 10px;
}

.container{
    padding: 10px;
}

.book-container{
    padding: 15px;
    width: 20%;
    border-radius: 10px;
    background-color: black;
    margin:30px;
    color: white;
    display: inline-block;
    vertical-align: top;
}

.book-container h2{
    color:#fd6569;

}
.book-container button{
    background-color: #fd6569;
    color: white;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-top: 10px;
    outline: none;
    border: none;
}

.add-button{
    background-color: #fd6569;
    color: black;
    border-radius: 50%;
    padding-top:20px;
    padding-bottom:20px;
    padding-right:30px;
    padding-left:30px;
    font-size: 40px;
    border: none;
    outline: none;
    position: fixed;
    bottom: 30px;
    right: 30px;   
}

.popup-overlay{
    background-color: black;
    opacity:0.8;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;

}

.popup-box{
    background-color: #fd6569;
    width: 25%;
    padding: 40px;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 30%;
    z-index: 2;
    display: none;
}

.popup-box input{
    background: transparent;
    border: none;
    width: 100%;
    margin: 5px;
    padding: 5px;
    border-bottom: solid black 2px;
}

.popup-box textarea{
    background: transparent;
    width: 100%;
    height: 100px;
    margin: 5px;
    padding: 5px; 

}

.popup-box input::placeholder{
    color: black;
    font-size: 16px;
}



.popup-box textarea::placeholder{
    color: black;
}

.popup-box button{
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 5px;
    border-radius: 10px;
}

.popup-box input:focus{
    outline: none;
    
}

.popup-box textarea:focus{
    outline: none;
}